@model neighborhood.Views.AccessInfoTemplateModel
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <title>Vecindario</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
    <link rel="icon" href="https://catalogstore.blob.core.windows.net/logo/favicon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="https://catalogstore.blob.core.windows.net/logo/Style/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <style>
        .inputstyle {
            background-color: white;
            border: 2px solid #EFEFEF;
            border-radius: 7px;
            height: 4.7rem;
            width: 100%;
            padding-inline-start: 1.5em;
        }

        .title {
            font-size: 1.5rem;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 0rem;
            color: #133DB9;
            margin-top: 3rem;
        }

        .textOnInput {
            position: relative;
            margin-left: 0rem;
            margin-top: 1rem;
            width: 100%;
        }

        .qr-code {
            max-width: 200px;
            margin: 10px;
        }

        body {
            font-family: "Comfortaa", sans-serif;
            background-color: #EFEFEF;
        }

        .textOnInput label {
            position: absolute;
            top: -1rem;
            left: 1.5rem;
            padding: 0.1rem;
            z-index: 1;
            color: black;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        label {
            font-size: 1.2rem;
            font-weight: 1rem;
            display: inline-block;
            margin-bottom: .5rem;
            color: '#80dbff';
        }
    </style>
</head>

<body onload="after()">
    <div class="row mobile_device_900px">
        <div class="col" id="mobilediv">
            <div class="row" style="text-align: center; height:7%;">
                <div class="col-12">
                    <p class="title">Datos de Visita</p>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%; height:10%;">
                <div class="col-12">
                    <div class="textOnInput">
                        <label for="inputText">Nombre</label>
                        <input class="inputstyle" id="Name" name="Name" type="text" readonly value="@Model.Name">
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%;">
                <div class="col-12">
                    <div class="textOnInput">
                        <label for="inputText">DPI</label>
                        <input class="inputstyle" id="DPI" name="DPI" type="text" readonly value="@Model.DPI">
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%;">
                <div class="col-12">
                    <div class="textOnInput">
                        <label for="inputText">Dirección*</label>
                        <input class="inputstyle" id="Address" name="Address" type="text" readonly
                            value="@Model.Address">
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%;">
                <div class="col-12">
                    <div class="textOnInput">
                        <label for="inputText">Teléfono</label>
                        <input type="text" required class="inputstyle" id="Phone" name="Phone" readonly
                            value="@Model.Phone">
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%;">
                <div class="col-12">
                    <div class="textOnInput">
                        <label for="inputText">Fecha</label>
                        <input type="text" required class="inputstyle" id="Phone" name="Phone" readonly
                            value="@Model.Date">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="text-center">
                    <img src="https://chart.googleapis.com/chart?cht=qr&chl=Hello+World&chs=160x160&chld=L|0"
                        class="qr-code img-thumbnail img-responsive" />
                </div>
            </div>
        </div>
    </div>
    <div class="desktop row" id="desktop">
        <div class="col-6" style="margin:0; padding:0;">
            <img id="imagediv"
                src="https://image.shutterstock.com/image-photo/young-family-mother-father-daughters-600w-152255765.jpg"
                width="100%" style="display: block; margin: auto;">
        </div>
        <div class="col-6" id="resumediv">
            <div class="row" style="text-align: center; height:7%;">
                <div class="col-12">
                    <p class="title">Datos de Visita</p>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="textOnInput">
                        <label for="inputText">Nombre</label>
                        <input class="inputstyle" id="Name" name="Name" type="text" readonly value="@Model.Name">
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%;">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="textOnInput">
                        <label for="inputText">DPI</label>
                        <input class="inputstyle" id="DPI" name="DPI" type="text" readonly value="@Model.DPI">
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="textOnInput">
                        <label for="inputText">Dirección</label>
                        <input class="inputstyle" id="Address" name="Address" type="text" readonly
                            value="@Model.Address">
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="textOnInput">
                        <label for="inputText">Teléfono</label>
                        <input type="text" class="inputstyle" id="phone" name="phone" readonly value="@Model.Phone">
                    </div>
                </div>
            </div>
            <div class="row" style="margin:0;padding:0;width:100%;height:10%">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="textOnInput">
                        <label for="inputText">Fecha</label>
                        <input type="text" class="inputstyle" id="date" name="date" readonly value="@Model.Date">
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="text-center">
                    <img src="https://chart.googleapis.com/chart?cht=qr&chl=Hello+World&chs=160x160&chld=L|0"
                        class="qr-code img-thumbnail img-responsive" />
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>

        function htmlEncode(value) {
            return $('<div/>').text(value)
                .html();
        }

        function after() {
            var height = window.innerHeight;
            var width = window.innerWidth;
            var size = "height:" + height + "px; background-color: white;";
            document.getElementById("imagediv").setAttribute("style", size);
            document.getElementById("resumediv").setAttribute("style", size);
            document.getElementById("mobilediv").setAttribute("style", size);

            let finalURL =
                'https://chart.googleapis.com/chart?cht=qr&chl=' +
                '@Model.Url' + '&chs=160x160&chld=L|0'

            $('.qr-code').attr('src', finalURL);
        };
    </script>
    <script>

    </script>
</body>